body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url("../Images/81TKWlEQLyL._SY445_.jpg") no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: orangered;
  text-align: center;
}
#nav-list a:hover {
  background: whitesmoke;
}

#nav-list a span {
  font-size: 1.3em;
}
#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}

#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid red;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px; width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid blueviolet;
  overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
  box-shadow: 1px 1px 5px 1px whitesmoke;
}

#menu-tile {
  background: url("../Images/menu-tile.jpg") no-repeat;
  background-position: center;
}

#specials-tile {
  background: url("../Images/specials-tile.jpg") no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
   bottom: 0; left: 0;
  opacity: 0.7;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.6em;
  color: white; font-weight: bolder;
  text-align: center;
  background-color: black;

}

.panel-footer {
  margin-top: 30px;
  padding-top: 30px; padding-bottom: 30px;
  background-color: black; border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours, #address {
  line-height: 2;
}

#hours > span , #address > span {
  font-size: 1.3em; color: seagreen; font-weight: bolder;
}

#address p {
  color: red; font-size: 1.1em; line-height: 1.8;
}

#testimonials {
  font-style: italic; margin-top: 20px;
}


/* MENU Categories*/
.category-tile {
  height: 200px; width: 200px;
  position: relative;
  border: 20x solid whitesmoke;
  margin: 0 auto 15px;  
}
.category-tile span {
  position: absolute;
   bottom: 0; left: 0;
  opacity: 0.7;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.6em;
  color: white; font-weight: bolder;
  text-align: center;
  background-color: black;

}

.category-tile:hover{
  box-shadow: 1px 1px 5px 1px cyan;
}

#menu-categories-title + div {
  margin-bottom: 20px;
}

/*Single category*/
.menu-item-tile {
   margin-bottom: 25px;
}
.menu-item-tile hours {
  width: 90%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: 0.6em;
  
}
.menu-itme-photo {
  position: relative;
  border: 2px solid mediumslateblue;
  overflow: hidden;
  padding: 0;
  margin-right: -15px; margin-left: auto; margin-bottom: 20px;
  max-width: 250px;
}
.menu-itme-photo div{
  position: absolute; right: 0; bottom: 0;
  background-color: navajowhite; 
  text-align: center;
  color: black; font-weight: bolder;
}
.meun-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin:  0 0 10px;
}

.menu-item-details {
  font-size: 0.9em; font-style: italic;
}

/* START OF MEDIA QUERIES*/

@media (min-width:  1200px) { /* Large devices only*/
  .jumbotron {
    background: url("../Images/jumbotron_1200.jpg") no-repeat;
    height: 675px;
    box-shadow: 0 0 50px yellow;
    border: 2px solid cyan;
  }

}

@media (min-width:  992px) and (max-width:  1199px) { /* medium devices */
  #logo-img {
  background: url("../Images/81TKWlEQLyL._SY445_.jpg") no-repeat;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
}
.container .jumbotron {
    background: url("../Images/jumbotron_992.jpg") no-repeat;
    height: 558px;
    box-shadow: 0 0 50px yellow;
    border: 2px solid cyan;
  }
}
@media (min-width:  961px) and (max-width:  991px) { /* medium devices */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 2vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand {
    padding-top: 10px;
    height: 100px;
    width: 300px;
    border-right: -40px;
  }
  #nav-list a span {
  font-size: 2vw;
}
.container .jumbotron {
    background: url("../Images/jumbotron_768.jpg") no-repeat;
    height: 432px;
    box-shadow: 0 0 50px yellow;
    border: 2px solid cyan;
  }
}



@media(min-width: 768px) and (max-width: 960px ){
#nav-list a span {
  font-size: 2vw;
}
.navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 2.5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand {
    padding-top: 10px;
    height: 100px;
  }
  .container .jumbotron {
    background: url("../Images/jumbotron_768.jpg") no-repeat;
    height: 432px;
    box-shadow: 0 0 50px yellow;
    border: 2px solid cyan;
  }
}
@media(max-width:  768px) { /*Extra small*/
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 0.9em;
    margin-right: 10px;
  }
  
   #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .container .jumbotron  {
    padding: 0;
    box-shadow: 0 0 50px yellow;
    border: 2px solid cyan;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
}
.panel-footer section {
  text-align: center;
}
section hr{
  width: 75%;
}

.menu-itme-photo {
  margin-right: auto;
}

.menu-item-tile .menu-item-price {
    text-align: center;
    margin-bottom: 20px;
}
.meun-item-description {
  text-align: center;
}

/* Extra small devices*/
@media (max-width: 479px) {
  #menu-tile, #specials-tile {
    width: 335px;
    margin: 0 auto 15px;
  }
  .navbar-brand h1 {
    font-size: 6vw;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}







